.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.data-input-tree {
  max-width: 800px;
  width: 100%;
}

pre {
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin-left: 0;
  opacity: 0;
  animation: fadeInPre 0.8s ease forwards;
  transition: opacity 0.8s ease;
}

.data-input-tree {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInPre {
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.json-actions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.export-btn,
.custom-file-upload {
  background-color: #0073a4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.export-btn:hover,
.custom-file-upload:hover {
  background-color: #0073a4;
}

input[type="file"] {
  display: none;
}
